# other stuff
/vendor
# /inc/templates/cache
/inc/instance-config.php

# tmp filesystem
/tmp/cache/*
/tmp/locks/*
!/tmp/cache/.gitkeep
!/tmp/locks/.gitkeep
!/inc/templates/cache

#vichan custom
favicon.ico
/public/static/spoiler.png

# static html and json
/public/*/*.html
/public/*/*.json
/public/*/res
/public/*/src
/public/*/thumb
/public/*/config.php
/public/*.html

# include some files though
!/inc/templates/*.html
!/inc/config.php

# minify
/inc/lib/minify

# instance-config
/inc/instance-config.php

# .installed
/public/.installed

# script file
/public/main.js


# other stuff
.DS_Store
.htaccess
thumbs.db
Icon?
Thumbs.db
*.patch
*.diff
*.rej
*.orig
*~
